@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Oswald:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  /* --- CUSTOM COLORS --- */
  --color-primary: #C8102E;
  --color-secondary: #161A1E;

  /* --- CUSTOM FONTS --- */
  --font-heading: 'Oswald', sans-serif;
  --font-sans: 'Inter', sans-serif;

  /* --- CUSTOM ANIMATIONS --- */
  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-scroll: scroll 30s linear infinite;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* Vertical Text Utility (Only applies on medium screens and up) */
@media (min-width: 768px) {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}